*{margin: 0;padding: 0;}
body{background-color: bisque;width: 1535px;height: 580px;}
#div1{text-align: center;background-color: burlywood;width: 100%; padding: 1%;}
#div1 name{background-color: aqua;}
#div2{background-color: bisque;width: 100%;height: 580px;text-align: center;}
.div2_post{background-color: white; width: 60%;height: 65%;border-radius: 10px;margin: 0 auto;border-bottom: #DEB887 1px solid;}
.tittle{position: absolute; font-size: 2em;margin-left: 2%;margin-top: 0.5%;}
.img{background: white; position: absolute;width: 55%;height: 35%;overflow: hidden;margin-top: 3.5%;margin-left: 2%;border: white 1px solid;border-radius: 10px;}
img{width: 100%;height: auto;}
.msg{position: absolute;margin-top: 23%;margin-left: 2%;font-size: 0.7em;}
.context{background: white; position: absolute; margin-top: 20%;width: 55%;height: 8%; margin-left: 2%;text-align: left;text-overflow: ellipsis;}
.btn{background: white;border: none;font-size: 1em;}
a{text-decoration: none;color: black;}