/*公共样式*/
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
/*公共样式*/
/*header样式*/
.all{
    width:100%;
    height:1200px;
    background:#f7f7f7;
}
header{
    width:100%;
    height:140px;
    /*background:white;*/
    margin:0 auto;
}
.header_t{
    width:80%;
    height:90px;
    background:white;
    margin:0 auto;
}
.MO{
    width:200px;
    height:80px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    float:left;
    text-align:center;
    line-height:80px;
}
.header_t .MO img{
    width:90%;
    height:85px;
}
.h_t_r{
    width:250px;
    height:80px;
    float:right;
    margin-top:5px;
    margin-bottom:5px;
    /*background:white;*/
}
.t{
    width:250px;
    height:40px;
}
.tou{
    width:40px;
    height:40px;
    float:left;
    /*background:yellow;*/
}
.num{
    width:206px;
    height:40px;
    float:left;
    line-height:40px;
    margin-left:4px;
    /*background:yellow;*/
}
.sou{
    width:250px;
    height:35px;
    margin-top:5px;
    display:flex;
    /*background:blue;*/
}
.header_b{
    width: 80%;
    line-height: 50px;
    height: 50px;
    background: #FD7B5D;
    padding-left: 10%;
    padding-right: 10%;
}
.header_b li{
    float: left;
    margin-left: 5%;
    margin-right: 6%;
    font-size: 20px;
}
.header_b li:nth-child(6){
    margin-right: 2%;
}
.header_b li a{
    color: white;
}
.header_b li a:hover{
    color: #f4f4f4;
}

/*header样式*/
/*main样式*/
main{
    width:80%;
    height:1020px;
    background:white;
    margin:0 auto;
    margin-top: 1px;
}
.main_t{
    width:100%;
    height:243px;
    box-shadow:0 0 20px #f2f2f2;
}
.main_t_l{
    width:75%;
    height:243px;
    border:1px solid lightgray;
    float:left;
}
.img{
    width:250px;
    height:200px;
    /*background:yellow;*/
    margin-top:15px;
    margin-left:15px;
    float:left;
}
.word{
    width:410px;
    height:225px;
    /*background:yellow;*/
    margin-top:15px;
    float:right;
}
.word p{
    font-size:20px;
}
.main_t_r{
    width:23%;
    height:243px;
    border:1px solid lightgrey;
    float:right;
 }
h3{
    text-align: center;
    line-height: 40px;
}
.main_t_r table{
    width: 99%;
    text-align: center;
    color: rgba(93, 93, 93, 0.83);
    font-size: 14px;
    line-height: 40px;
}
.main_t_r table td{
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: hidden;
    border-left: hidden;
}
.main_t_r table td:nth-child(2n){
    border-right: hidden;
}
.main_m{
    width:100%;
    height:500px;
    box-shadow:0 0 20px #f2f2f2;
    margin-top:10px;
    overflow-y: auto;
    overflow-x:hidden;
}
.main_m_t{
    width:100%;
    height:50px;
    border:1px solid rgba(0, 0, 0, 0.26);
    border-bottom:hidden;
}
.main_m_t .h{
    width:120px;
    height:50px;
    float:left;
    text-align:center;
    line-height:50px;
}
.main_m_t .r1{
     width:60px;
     height:20px;
     border-radius:10px;
     float:right;
     background:#FD6440;
     color:white;
     text-align:center;
     line-height:20px;
    margin-top:15px;
    margin-right:80px;
 }
.main_m_t .r2{
    width:60px;
    height:20px;
    border-radius:10px;
    float:right;
    background:#FD6440;
    color:white;
    text-align:center;
    line-height:20px;
    margin-top:15px;
    margin-right:8px;
}
.main_m table{
    width: 100%;
    text-align: center;
    color: rgba(93, 93, 93, 0.83);
    font-size: 14px;
    line-height: 40px;
    height: 200px;
    overflow-y: auto;
}
.main_m table img{
    margin-top:4px;
}
.main_m table td{
    width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: hidden;
    border-right: hidden;
}
.main_m table td:nth-child(4){
    border-right:1px solid rgba(0, 0, 0, 0.26);
}
.main_b{
    width:100%;
    height:210px;
    box-shadow:0 0 20px #f2f2f2;
    margin-top:10px;
}
.main_b_t{
    width:100%;
    height:50px;
    border:1px solid rgba(0, 0, 0, 0.26);
}
.main_b_t .h{
    width:120px;
    height:50px;
    float:left;
    text-align:center;
    line-height:50px;
}
.main_b_b{
    width:100%;
    height:150px;
    border:1px solid rgba(0, 0, 0, 0.26);
    border-top:hidden;
    padding-top:10px;
}
.main_b_l{
    width:49%;
    height:150px;
    border-right:1px solid rgba(0, 0, 0, 0.26);
    float:left;
}
.main_b_r{
    width:49%;
    height:150px;
    float:right;
}
.img1{
    width:150px;
    height:125px;
    float:left;
    margin-top:15px;
    margin-left:15px;
}
.word1{
    width:300px;
    height:125px;
    float:right;
    margin-top:15px;
    margin-right:10px;
}
.word1 h4{
    margin-left:10px;
    margin-top:5px;
}
.word1 p{
    font-size:14px;
    margin-left:10px;
    margin-top:10px;
}
 /*main样式*/
/*footer样式*/
footer{
    width:100%;
    height:40px;
    background:#FD6440;
}
/*footer样式*/