.div2_post{
	background-color: white; 
	width: 97%;
	height: 65%;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	border: none;
}
.img{
	background: white; 
	/* position: absolute; */
	width: 100%;
	height: 35%;
	overflow: hidden;
	margin-top: 5%;
	border: white 1px solid;
	border-radius: 10px;
}
#img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tittle{position: absolute; font-size: 1.5em;}
.btn{background: white;border: none;font-size: 1em;}
a{text-decoration: none;color: black;}
.context{
	background: white; 
	width: 55%;
	height: 8%; 
	margin-left: 0;
}
.msg{margin-top: 3%;font-size: 0.8em;margin-left: 0;}



/*-----------------------------公共样式--------------------------------------*/
*{
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}

/*-------------------------------header------------------------------------------*/
header{
    width: 100%;
    height: 140px;
}
.header_t{
    width: 80%;
    height: 90px;
}
.header_tl{
    width: 20%;
    float: left;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    background: white;
}
.header_tl img{
    width:90%;
    height: 90px;
}
.header_tr{
    width: 26%;
    float: right;
    margin-top: 2%;
    margin-right: 6px;
    display:flex;
    flex-direction:column;
}
.header_tr .touxiang{
    font-size: 20px;
    float: right;
}
.header_tr img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    margin-bottom: 6px;
}
.search{
   float: right;
    display:flex;
}
.header_b{
    width: 80%;
    line-height: 50px;
    height: 50px;
    background: #FD7B5D;
    padding-left: 10%;
    padding-right: 10%;
}
.header_b li{
    float: left;
    margin-left: 5%;
    margin-right: 6%;
    font-size: 20px;
}
.header_b li:nth-child(6){
    margin-right: 2%;
}
.header_b li a{
    color: white;
}
.header_b li a:hover{
    color: #f4f4f4;
}
/*-------------------------------main---------------------------------*/
main{
    width: 80%;
    margin-top: 1%;
    height: 1200px;
}
.main_l{
    width: 55%;
    float: left;
    height: 1100px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
}
.main_l .help{
    width: 96%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    margin-top: 1%;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main_l .help .text1{
    margin-right: 120px;
    display: inline;
}
.help input{
    width:80%;
    height:50px;
    margin-left: 5%;
    border: 0;
}
.main_l li:nth-child(1) {
    font-size: 16px;
}
.main_l li a{
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14px;
    line-height: 28px;
}
.main_l li img{
    width: 42px;
    height: 41px;
    border-radius: 20%;
    float: left;
    margin-top: 4px;
}
.main_l li .ask{
    width: 92%;
    float: right;
    font-size: 16px;
    line-height: 24px;
    margin-top: 2px;

}
.main_l li  button{
    float: right;
    border-radius: 25%;
}
.main_l li .ask span{
    width: 20%;
    font-size: 14px;
    line-height: 24px;
    background: #00a7fb;
    margin-top: 2px;
    color: white;
    border-radius: 20%;
}
.main_l li .text{
    width: 92%;
    float: right;
    line-height: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.51);
}
.main_l li .text span{
    float: right;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.75);
}
.main_l li:nth-child(12){
    border: 0;
}
.main_l .page{
    border: 0;
    position:relative;
    /*background: blue;*/
}
.main_l .page li{
    width: 7%;
    height: 30px;
   display: inline-block;
    /*float: left;*/
    margin-left: 3%;
    margin-top:27%;
    text-align: center;
    border: 0;
   /* position: absolute;*/
    bottom:0;
    left:0;
    right:0;

}
.main_l .page li a{

    font-size: 16px;
}


.main_r{
    width: 28%;
    height: 900px;
    float: right;
    margin-left: 12px;
}
.main_r li{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 8%;
    margin-bottom: 3%;
}
.main_r li h3{
    text-align: center;
    line-height: 40px;
}
.main_r .li1{
    background: #FE6C49;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    line-height: 40px;
    text-align: left;
}
.main_r .li1 span{
    width: 20%;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-left: 20%;
    font-size: 24px;
    float: left;
}
.main_r .li1 a{
    color: white;
}
.main_r li table{
    width: 99%;
    text-align: center;
    color: rgba(93, 93, 93, 0.83);
    font-size: 14px;
    line-height: 40px;
}
.main_r li table td{
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: hidden;
    border-left: hidden;
}
.main_r li table td:nth-child(2){
    border-right: hidden;
}
.main_r li table td:nth-child(4){
    border-right: hidden;
}
.main_r li table td:nth-child(6){
    border-right: hidden;
}
.main_r li:nth-child(3){
    background: #82d7c1;
    border: 0;
    color: white;
}
.main_r .nav2{
    font-size: 16px;
}
.main_r .nav2 li{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    background: white;
    color: rgba(93, 93, 93, 0.83);
    line-height: 40px;
    text-align: left;
    padding-left: 20%;
}
.main_r .nav3{
    font-size: 16px;
}
.main_r .nav3 li{
    width: 100%;
    height: 50px;
    color: rgba(93, 93, 93, 0.83);
    border: 1px solid rgba(0,0,0,0.26);
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    background: white;
    line-height: 50px;
}
.main_r .nav3 li img{
    margin-top: 8px;
    float: left;
    margin-left: 28%;
}
.main_r .nav3 li span{
    line-height: 50px;
    margin-left: 5%;
    margin-top: 6px;
    float: left;
}
.main_l_b{
    position: absolute;
    bottom: 0;
    margin-left: 150px;
    margin-right: 150px;
}
.main_l_b li{
    display:inline-block;
    width:50px;

}

/*-----------------------------footer-------------------------------*/
footer{
    width: 80%;
    background: #FD7B5D;
    line-height: normal;
}
footer  a{
    color: black;
}
footer p{
    text-align: center;
}