*{margin: 0;padding: 0;}
body{background-color: bisque;width: 1535px;height: 580px;}
#div1{text-align: center;background-color: burlywood;width: 100%; padding: 1%;}
#div1 name{background-color: aqua;}
#span1{font-size: 2em; color: white;}
#div2{background-color: bisque;width: 100%;height: 580px;text-align: center;}
#sel{width: 10%;border: #DEB887 1px solid;border-radius: 5px; font-size: 1em;margin-top: 2%;}
#title{width: 10%;font-size: 1em;border: #DEB887 1px solid; border-radius: 5px;font-size: 1em;}
#context{width: 30%;height: 200px;padding: 0.5%; border: #DEB887 1px solid;border-radius: 5px;vertical-align:top}
#btn{background: burlywood;width: 5%;height: 30px; border: none;border-radius: 5px;}